/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.navigation nav {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.navigation nav ul li {
  font-size: 1.5rem;
}
.navigation nav ul li a {
  text-decoration: none;
  color: black;
}
.navigation nav ul button {
  border-radius: 20px;
  width: 75px;
  height: 30px;
  font-size: 1.3rem;
}
.navigation nav ul button:hover {
  color: white;
  background-color: dodgerblue;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  align-items: center;
  background-color: aliceblue;
  font-size: 1.2rem;
  padding: 0px 20px;
}
.footer ul {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.footer ul li a {
  text-decoration: none;
  color: black;
}
.hero-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: royalblue;
}
.hero-box img {
  height: 332px;
  width: 198px;
  padding: 10px 0px;
}
.hero-box .hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-box .hero-desc p {
  font-size: 1.4rem;
}
.hero-box .hero-desc button {
  margin-top: 10px;
  font-size: 1.2rem;
  width: 100px;
}
.hero-box .hero-desc button:hover {
  color: white;
  background-color: dodgerblue;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features h2 {
  margin: 20px 0px;
}
.features .feature {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px 0px;
}
.features .feature img {
  width: 361px;
  height: 236px;
}
.features #feature2 {
  flex-direction: row-reverse;
}
.contact-section {
  background-color: #eceaea;
  padding: 20px 0px;
}
.contact-section .contact {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 auto;
}
.contact-section .contact h2 {
  text-align: center;
}
.contact-section .contact form {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.contact-section .contact form input {
  margin: 10px 0px;
}
.contact-section .contact form textarea {
  margin: 10px 0px;
}
.contact-section .contact form #submit {
  width: 30%;
  margin: 10px auto;
}
.contact-section .contact form #submit:hover {
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
}
