.features {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
      margin: 20px 0px;
  }

  .feature {
    .customFlex(flex, space-around, center);
    width: 80%;
    margin: 20px 0px;

    @media @mobile {
      flex-direction: column;
    }

    img {
      width: 361px;
      height: 236px;
    }

    .feature-content {
      margin: 0 10px;

      @media @tablet {
        text-align: center;
    }

      p {
        font-size: @text;
      }

      @media @mobile {
        text-align: center;
      }
    }
  }
  #feature2 {
    flex-direction: row-reverse;

    @media @mobile {
      flex-direction: column;
    }
  }
}
